/*Main styling*/
body {
    background-color: #fcc92c;
    color: white;
    font-family: 'Century Gothic';
    /*height: 100%*/
}

#body {
    padding-top: 60px;
    background-color: #373834;
    height: 100vh;
    position: relative;
    box-shadow: 10px 0px 40px #404040;
}

html {
    /*background-color: #373834;*/
    /*height: 100%;*/
}

.icon-bar {
    background-color: #373834;
    height: 4px !important;
    width: 24px !important;
}

.navbar {
    background-color: white;
    height: 60px;
}

.navbar-brand {
    height: 60px;
}

#mainGrid {
    background-color: #333430;
    height: 100%;
    margin: 10px;
    box-shadow: 0 0 5px 5px #262626;
    text-align: center;
    /*overflow: hidden;*/
}

#topLeft {
    color: #fcc92c;
}

#topRight {
    background-color: #fcc92c;
    color: #333430;
}

#bottomRight {
    color: #fcc92c;
}

#bottomLeft {
    background-color: #fcc92c;
    color: #333430;
}

.gridicon {
    padding: 40px 40px 20px 40px;
}

#twitter-feed {
    /*display: block;*/
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    /*text-align: center;*/
}

#heading {
    font-size: 9pt;
}

#twitter {
    padding-top: 15px;
}

.gridDescr {
    margin-bottom: 30px;
}

#sidescreen {
    /*background-color: #fcc92c;*/
    color: #373834;
    z-index: -1;
    top: 60px;
    position: absolute;
    text-align: right;
}

.option {
    padding-left: 42vw;    
    width: 100vw;
    border-bottom: solid #373834 1px;
}

.option img {
    margin-top: 10px;
    margin-bottom: 10px;
}

#homescreen {
    position: relative;
}

/*h3 {
    margin-top: 10px;
}*/